body {
  background-color: black;
}
.card {
  background-color: rgb(26, 26, 26);
  color: white;
  cursor: pointer;
}
.detail-card {
  position: relative;
}
.btn-close-detail-card {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.card-text {
  list-style: none;
}
